body{
    background-color: rgb(255, 189, 51);
    font-family: 'Noto Serif NP Hmong', serif;
  }
.heading{
    background-color: brown;
    text-align: center;    
    margin-bottom: 2rem;
}
p{
  font-size: 2rem;
  color:white;
}
h1{
    font-size: 4rem;
    color:cornsilk;
}
h2{
  color: chartreuse;
  font-size: 3rem;
}
.image{
  width: 50%
}
#cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.result{
  background-color:chocolate;
  width: 30%;
  text-align: center;
  border-radius: 5%;
  box-shadow: 10px 10px 10px black;
  margin-bottom: 2.5rem;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
#theme,
#Kazakhstan,
#China,
#Indoneisa,
#NorthAmerica,
#Brazil,
#reset{
  font-size: 1.5rem;
}

:root {
--gold-yellow: rgb(255, 189, 51);
--brown: brown;
--gray: #5b7c99;
--smoke: #cfe8ef;
--primary:var(--gold-yellow);
--secondary: var(--brown);
}
.first{

};
.second{

};


