body{
    background-color: rgb(255, 189, 51);

}
.heading{
    background-color: brown;
    text-align: center;    
}
h1{
    font-size: 4rem;
    animation: heading 5s infinite;
}
.buttons{
    display: flex;
    justify-content: space-around;
    
}
#Kazakhstan{
    font-size: 1.5rem;
    border-radius: 15%;
}
#China{
    font-size: 1.5rem;
    border-radius: 15%;
}
#Indoneisa{
    font-size: 1.5rem;
    border-radius: 15%;
}
#NorthAmerica{
    font-size: 1.5rem;
    border-radius: 15%;
}
#Brazil{
  font-size: 1.5rem;
  border-radius: 15%;
}
.cards{
    background-color: rgb(208, 235, 51);
}
@keyframes heading {
    0% {
      color: red;
    }
    25% {
      color: yellow;
    }
    50% {
      color: green;
    }
    75% {
      color: blue;
    }
    100% {
      color: purple;
    }
  }