/* body{
    font-family: 'Noto Serif NP Hmong', serif;
  } */
:root {
--gold-yellow: #FFD700;
--light-green: ##90EE90;
--primary: var(--gold-yellow);
}
.first{
--primary: var(--gold-yellow);
}
.second{
--primary: var(--light-green);
}

.heading{
    background-color: brown;
    text-align: center;    
    margin-bottom: 2rem;
}
p{
  font-size: 2rem;
  color:white;
}
h1{
    font-size: 4rem;
    color:cornsilk;
}
h2{
  color: chartreuse;
  font-size: 3rem;
}
.image{
  width: 50%
}
#cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.result{
  background-color:chocolate;
  width: 30%;
  text-align: center;
  border-radius: 5%;
  box-shadow: 10px 10px 10px black;
  margin-bottom: 2.5rem;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
#theme,
#Kazakhstan,
#China,
#Indoneisa,
#NorthAmerica,
#Brazil,
#reset{
  font-size: 1.5rem;
}

